h2{
  font-size: 14px;
}
p{
  font-size: 10px;
}
.menu-container {
  background-color: blueviolet;    
}
.employee-menu-container{
  display: flex;
  justify-content: space-between;
  border: 2px solid #E4BD00;
  border-top: 1px solid #E4BD00;
  padding: 1.2em;
  
}
.asset-upgrade-display{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.buy-button-div{
  /* padding: 20px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

}
.buy-button-div span {
  margin-right: 10px;
  margin-top: .5em;
}
@media screen and (orientation: portrait){
  .buy-button-div span{
    margin-top: .9em;
  }
}