/* .menu-screen {
  background-color: lightskyblue;
  border: 5px solid black;

  height: 760px;
} */


  h2{
    font-size: 14px;
  }
  p{
    font-size: 10px;
  }
  .menu-container {
    background-color: blueviolet;
    
  }
  .employee-menu-container{
    display: flex;
    justify-content: space-between;
    border: 2px solid #FEFE33;
    border-top: 1px solid #FEFE33;

    padding: 5px;

  }
  .buy-button-div{
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-evenly; */
  }

