  .playscreen {
    flex-grow: 1;
  }
  .menu-button{
    padding: 10px;
    width:85px;
    position: fixed;
    left: 50%;
    margin-left: -42px;
    bottom: 0px;
  }
  .stage{
    float: right;
  }
  .playscreen-container{
    background-color: #FB9902;
    background-image: url('../../images/commerce.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    height: 13.25em;
    border: 2px solid #FEFE33;
  }
  .modal-message-paragraph{
    border: 5px solid #FEFE33;
    width: 180px;
    /* height: 150px;  */
    background-color: pink;
    font-size: 1em;
    margin: 0 auto;
    padding: 27px;
  }

  .modal-message-container{
    left: 0;
    right: 0;
    position: fixed;
    top: 20%;
  }
  .modal-closebutton{
    display: flex; 
    margin: 0 auto; 
    padding: 6px;
    border: 5px solid yellow;
    border-radius: 34%;
    background-color: red;
  }






  /* @media screen and (orientation: portrait) { 

    .playscreen-container{
      height: 29.95em;     
    }

  } */


  @media screen and (min-height: 568px){ 

    .playscreen-container{
      height: 23.95em;     
    }
    .menu-button{
      padding: 10px;
      width:75px;
      margin-left: -38px;
    }

  } 
  @media screen and (max-height: 320px){ 

    .main-container {
      max-height: 304px;
    }
    .employee-container{
      font-size: 12px;
    }

  } 
  @media screen and (min-height: 700px){ 

    .playscreen-container{
      height: 30.95em;     
    }

  } 
  @media screen and (min-height: 1000px){ 

    .playscreen-container{
      background-size: 400px 400px;
      height: 45.95em;
      border: 10px solid #FEFE33;
    }
    .modal-message-paragraph{
      width: 380px;
      font-size: 2em;
    }
    .modal-closebutton{
      margin: 0 auto; 
      padding: 12px;
      border: 8px solid yellow;
      border-radius: 34%;
      background-color: red;
      font-size: 22px;
    }
    .menu-button{
      padding: 25px;
      width:135px;
      font-size: 18px;
      margin-left: -71px;
    }
  } 
  @media screen and (min-width: 1000px){ 

    .playscreen-container{
      background-size: 400px 400px;
      border: 8px solid #FEFE33;
    }
    .menu-button{
      padding: 25px;
      width:135px;
      font-size: 18px;
      margin-left: -71px;
    }
  } 
  @media screen and (min-width: 1200px){ 

    .playscreen-container{
      background-size: 400px 400px;
      height: 42.95em;
      border: 8px solid #FEFE33;
    }
  } 
  @media screen and (min-height: 1200px){ 

    .playscreen-container{
      height: 54.95em;     
    }
    .menu-button{
      padding: 25px;
      width:135px;
      font-size: 24px;
      margin-left: -71px;
    }
    .modal-message-paragraph{
      width: 420px;
      font-size: 2em;
    }
    .modal-closebutton{
      font-size: 28px;
    }
  } 
