  .playscreen {
    flex-grow: 1;
  }
  .menu-button{
    padding: 10px;
    width:85px;
    position: fixed;
    left: 50%;
    margin-left: -42px;
    bottom: 0px;
  }
  .stage{
    float: right;
  }
  .playscreen-container{
    background-color: #FB9902;
    background-image: url('../../images/commerce.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    height: 13.25em;
    border: 2px solid #FEFE33;
  }
  .modal-message-container{
    position: relative;
    border: 5px solid #FEFE33;
    width: 50%;
    margin: 0 auto;
    background-color: pink;
    padding: 10px;
    margin-top: 30%;
  }
  .modal-message-paragraph{
    /* border: 5px solid #FEFE33; */
    /* width: 180px; */
    /* height: 150px;  */
    /* background-color: pink; */
    font-size: 1em;
    margin: 0 auto;
    padding: 27px;
  }
  .modal-closebutton{
    position: absolute;
    top: .5em;
    right: .5em;
    /* margin: 0 auto;  */
    padding: 6px;
    border: 5px solid yellow;
    border-radius: 34%;
    background-color: red;
  }






  @media screen and (orientation: landscape) { 

    .modal-message-container{
      margin-top: 15%;
    }

  }


  @media screen and (min-height: 568px){ 

    .playscreen-container{
      height: 23.95em;     
    }
    .menu-button{
      padding: 10px;
      width:75px;
      margin-left: -38px;
    }
    .modal-message-container{
      width: 66%;
    }

  } 
  @media screen and (max-height: 320px){ 

    .main-container {
      max-height: 304px;
    }
    .employee-container{
      font-size: 12px;
    }

  } 
  @media screen and (min-height: 700px){ 

    .playscreen-container{
      height: 30.95em;     
    }

  } 
  @media screen and (min-height: 1000px){ 

    .playscreen-container{
      background-size: 400px 400px;
      height: 45.95em;
      border: 10px solid #FEFE33;
    }
    .modal-message-container{
      width: 33%;
    }
    .menu-button{
      padding: 25px;
      width:135px;
      font-size: 18px;
      margin-left: -71px;
    }
  } 
  @media screen and (min-width: 1000px){ 

    .playscreen-container{
      background-size: 400px 400px;
      border: 8px solid #FEFE33;
    }
    .menu-button{
      padding: 25px;
      width:135px;
      font-size: 18px;
      margin-left: -71px;
    }
    .modal-message-container{
      width: 33%;
    }
  } 
  @media screen and (min-width: 1200px){ 

    .playscreen-container{
      background-size: 400px 400px;
      height: 42.95em;
      border: 8px solid #FEFE33;
    }
  } 
  @media screen and (min-height: 1200px){ 

    .playscreen-container{
      height: 54.95em;     
    }
    .menu-button{
      padding: 25px;
      width:135px;
      font-size: 24px;
      margin-left: -71px;
    }
    .modal-message-paragraph{
      font-size: 2em;
    }
    .modal-closebutton{
     padding: 9px;
     font-size: 24px;
    }
  } 
