/* .playScreen-container {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  background-image: url('../../images/commerce.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
  height: 770px;
  border: 5px solid black;
} */

/* .playScreen {
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  background-image: url('../../images/commerce.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
  height: 770px;
  border: 5px solid black;
} */

/* .menu-button{
  color:red;
  padding: 15px;
  width:105px;
  position: fixed;
  left: 50%;
  margin-left: -53px;
  bottom: 0px;

} */


@media screen and (min-width: 320px) and (orientation: landscape) {
  body {
  background-color: rgb(134, 79, 79);
  }
  .menu-button{
  color:red;
  padding: 10px;
  width:85px;
  position: fixed;
  left: 50%;
  margin-left: -42px;
  bottom: 0px;
  }
  .playscreen-container{
    background-color: yellowgreen;
    background-image: url('../../images/commerce.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
    height: 230px;
    border: 1px solid black;
  }
  .intro-paragraph{
    border: 5px solid black;
    position: fixed;
    bottom: 100px;
    width: 180px;
    height: 150px;
    left: 250px;
    background-color: pink;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
  }
  .intro-closebutton{
    color:red;
    /* display: flex;
    justify-content: flex-end; */
  }

}