h2{
  font-size: 2.5vw;
  margin:0;
  /* padding: 2px; */
}
p{
  font-size: 2vw;
  margin: 0;
  padding: 2px;
}
.upgrade-description-div{
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upgrades-container {
  background-color: rgb(30, 133, 38);
  border: 2px solid #E4BD00;
}
.upgrade-menu-container{
  display: flex;
  justify-content: space-between;
  border: 2px solid #E4BD00;
  border-top: 1px solid #E4BD00;
  padding: .75em;
  align-items: center;

}
.buy-upgrade-button-div{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 2vw;
}
.buy-upgrade-button-div button{
  height: 2.75em;
  font-size: 2vw;
  
}

.buy-upgrade-button-div span {
  margin-right: 10px;
}
.upgrades-button{
  padding: 2px;
  position: fixed;
  left: 44.75%;
  bottom: 7.5vw;
  font-size: 1.7vw
}

@media screen and (orientation: portrait){
  .upgrades-button{
    left: 42.5%;
    bottom: 17.5vw;
    font-size: 2.6vw;
  }
  h2{
    font-size: 4.5vw;
  }
  p{
    font-size: 3.5vw;
    width: 77%
  }
  .buy-upgrade-button-div{
    font-size: 4vw;
  }
  .buy-upgrade-button-div button{
    font-size: 4vw;    
  }
  .upgrade-description-div{
    width: 55%;
  }
}