.modal-form-1{ 
  max-width: 62%;
  /* max-height: 70%; */
  padding-left: 2em;
  padding-right: 2em;
  /* padding-top: 1em; */
  margin-left: auto;
  margin-right: auto;  
  position: fixed;
  top: 2em;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(139, 126, 8, 0.75);

}

.form-error, .form-warning {
  margin: 0 6px;
  padding: 6px;
  display: inline-block;
}
.message {
  padding: 12px 6px;
}

.message-success {
  background-color: #5CB85C;
  color: white;
}
.message-error, .form-error {
  background-color: #d9534f;
  color: white;
}
.message-error{
  position: absolute;
  top: 43px;
}
.redux-form{
  display: flex;
  flex-direction: column;
}

.form-button-register, .form-button-login {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0;
}
.or-paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.form-button-register {
  margin-top: 0px;
}
.form-input-div{
  margin-top: 20px;
}
.redux-form{
  margin-top: 40px;
}