.modal-form-1{ 
  max-width: 62%;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;  
  position: fixed;
  top: 2em;
  left: 0px;
  right: 0px;
  bottom: 15px;
  background-color: rgba(139, 126, 8, 0.75);
}
.form-error, .form-warning {
  margin: 0 6px;
  padding: 6px;
  display: inline-block;
}
.message {
  padding: 12px 6px;
}
.message-success {
  background-color: #5CB85C;
  color: white;
}
.message-error, .form-error {
  background-color: #d9534f;
  color: white;
}
.message-error{
  position: absolute;
  top: 43px;
}
.redux-form{
  display: flex;
  flex-direction: column;
}
.form-button-register, .form-button-login {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 0;
}
.or-paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.form-button-register {
  margin-top: 0px;
}
.form-input-div{
  margin-top: 20px;
}
.redux-form{
  margin-top: 40px;
}
.spinner{
  margin-left: 20em;
}

@media screen and (min-height: 568px){ 
  .modal-form-1{
    top: 6em;
    bottom: 50px;
  }
  .message-error{
    top: 70px;
  }
  .spinner{
    margin-left: 13em;
    top: 10px
  }
} 

@media screen and (min-width: 411px){
  .spinner{
    margin-left: 17em;
    top: 1px;
  }
}

@media screen and (max-height: 320px){ 
  .modal-form-1{
    position: unset;
  }
} 

@media screen and (min-height: 700px){ 
  .modal-form-1{
    top: 6em;
    bottom: 265px;
  }
  .message-error{
    top: 70px;
  }
} 

@media screen and (min-height: 1000px){ 
  .modal-form-1{
    top: 7em;
    bottom: 480px;
    font-size: 18px;
    max-width: 66%;
  }
  .modal-form-1 input{
    height: 30px;
    font-size: 18px;
  }

  .message-error{
    top: 51px;
  }
  .form-button-login, .form-button-register {
    font-size: 16px;
    padding: 5px;
  }
  .spinner{
    margin-left: 20em;
    top: 2px
  }
} 

@media screen and (min-height: 1200px){ 

  .modal-form-1{
    top: 7em;
    bottom: 480px;
    font-size: 26px;
    max-width: 70%;
  }
  .modal-form-1 input{
    height: 42px;
    font-size: 26px;
  }

  .message-error{
    top: 60px;
  }
  .form-button-login, .form-button-register {
    font-size: 20px;
    padding: 10px;
  }
  h1{
    padding-bottom: 12px;
  }
} 
@media only screen and (min-width: 1200px){ 

  .modal-form-1{
    top: 2em;
    bottom: 430px;
    font-size: 26px;
    max-width: 70%;
  }
  .modal-form-1 input{
    height: 42px;
    font-size: 26px;
  }

  .message-error{
    top: 60px;
  }
  .form-button-login, .form-button-register {
    font-size: 20px;
    padding: 10px;
  }
  h1{
    padding-bottom: 12px;
  }
  .spinner{
    margin-left: 19em;
    top: 8px
  }
} 
