  .header-container {
    background-color:#FEFE33;
    border: 2px #FEFE33 solid;
    display: flex;
    justify-content: space-around;
    color: #343409;
  }
  h1{
    font-size: 24px;
    text-align: center;
  }
  .signedin {
    height: 20px;
  }
  .signedin-green {
    background-color: green
  }
  .signedin-red {
    background-color: red
  }
  .current-cash-display{
    border: #FEFE33 2px dotted;
    width: 250px;
    display: block;
    text-align: center;
    width: 100%;
  }
  .current-cash-display span {
    background-color: pink;
    font-size: 22px;
  }

  .currentCashHeader{
    width: 50%
  }

  .modal-form, .save-button-div {
    height: 50%;
  }
  .save-button-div button {
    width: 100%;
  }
  .modal-form button {
    width: 100%;
  }
  .employees-container{
    width: 25%;
  }
  .signedin-div, .login-save-div{
    height: 50%;
  }
  .right-side-header{
    width: 25%;
  }

@media screen and (min-width: 1000px) and (orientation: landscape) { 
  .modal-form, .save-button-div{
    width: 50%;
  }
  .login-save-div{
    display: flex;
    align-items: flex-end;
  }
  .save-button-div button {
    height: 100%;
  }
  .modal-form button {
    height: 100%;
  }

}
