  .header-container {
    background-color: #FEFE33;
    border: 2px #FEFE33 solid;
    display: flex;
    color: #343409;
    flex-grow: 0;
  }
  h1{
    font-size: 24px;
    text-align: center;
  }

  .signedin-green {
    background-color: green
  }
  .current-cash-display{
    width: 250px;
    display: block;
    text-align: center;
    width: 100%;
  }
  .current-cash-display span {
    background-color: pink;
    font-size: 22px;
    border-radius: 20%;
    padding: .1em;
  }

  .currentCashHeader{
    width: 50%
  }

  .modal-form, .save-button-div {
    height: 50%;
  }
  .save-button-div button {
    width: 100%;
  }
  .modal-form button {
    width: 100%;
  }
  .employees-container{
    width: 25%;
    display: flex;
    align-items: flex-end;
  }
  .employee-container{
    box-shadow: 0 0 4px 1px #555;
    border: 1px solid black;
    padding: 0px 5px;
  }
  .asset-header-display{
    
  }
  .asset-header-count{
    text-align: center;
  }
  .signedin-div, .save-div{
    height: 50%;
  }
  .right-side-header{
    width: 25%;
  }
  .signedin-div{
    font-size: .66em;
  }
  
  .saveSuccess {
    background-color: #E8E8E8;
    animation: color-it-green 2s;
  }
  @keyframes color-it-green {
    0% {
      background: #E8E8E8;
    }
    50% {
      background: green;
    }
    100% {
      background: #E8E8E8;
    }
  }
  .saveFail {
    background-color: #E8E8E8;
    animation: color-it-red 2s;
  }
  @keyframes color-it-red {
    0% {
      background: #E8E8E8;
    }
    50% {
      background: red;
    }
    100% {
      background: #E8E8E8;
    }
  }

@media screen and (min-width: 1000px) and (orientation: landscape) { 
  .modal-form, .save-button-div{
    width: 50%;
  }
  .save-div{
    display: flex;
    align-items: flex-end;
  }
  .save-button-div button {
    height: 100%;
  }
  .modal-form button {
    height: 100%;
  }

}
@media screen and (orientation: portrait) { 

  .current-cash-display span {
    font-size: 16px;
  }
  .right-side-header{
    display: flex;
    flex-direction: column;
  }
  .save-div {
    margin-left: 6px;
  }

}

@media only screen and (max-height: 320px){ 

  h1{
    font-size: 20px;
  }
} 
@media only screen and (min-height: 1000px), only screen and (min-width: 1000px){ 

  .header-container{
    padding: 40px;
    font-size: 20px;
  }
  h1{
    font-size: 29px;
  }
  .current-cash-display span {
    font-size: 26px;
  }
} 
@media only screen and (min-height: 1200px){ 

  .header-container{
    padding: 40px;
    font-size: 28px;
  }
  h1{
    font-size: 34px;
  }
  .current-cash-display span {
    font-size: 32px;
  }
  button {
    padding: 15px;
    font-size: 20px;
  }
} 
@media only screen and (min-width: 1200px){ 

  .header-container{
    padding: 40px;
    font-size: 28px;
  }
  h1{
    font-size: 44px;
  }
  .current-cash-display span {
    font-size: 32px;
  }
  button {
    padding: 15px;
    font-size: 20px;
  }
} 