

  body {
  background-color: rgb(62, 122, 122);
  font-family: 'Jua', sans-serif;

  }
  button{
    font-family: 'Jua', sans-serif;
    color: black;
  }
  /* .main-container {
    display: flex;
    flex-direction: column;
  } */
